<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/base.css" />
  </head>
  <body>
    {% block body %}{% endblock %}

    {% block js %}{% endblock %}
  </body>
</html>
