{% extends "layouts/base_html.html" %}

{% block body %}
<div class="cover">
  <div class="content {% block content_class %}{% endblock %}">
    {% block content %}{% endblock %}
  </div>
</div>
{% endblock %}
