:root {
    --spacing: 1.5rem;
    --radius: .4rem;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: white;
}

hr {
    color: rgba(129,6,106,1);
}

.clause-title {
    letter-spacing: 1rem;
}

body {
    background: rgb(237,153,136);
    background: linear-gradient(139deg, rgba(129,6,106,1) 0%, rgba(237,153,136,1) 100%);
    min-height: 100vh;
}

.cover {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.content {
    max-width: 520px;
    width: 100%;
    padding: var(--spacing);
}

.intro-text {
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.content.soundpage {
    display: grid;
    gap: var(--spacing);
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 4rem 4rem 4rem;
}

.audio__chart {
    background-color: rgba(0, 0, 0, .15);
    border-radius: var(--radius);
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.audio__chart-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .1rem;
}

.audio__chart-top {
    align-items: end;
}

.audio__chart-bottom {
    align-items: start;
}

.audio__chart-bar {
    background-color: rgba(0, 0, 0, .15);
    flex-grow: 1;
}

.audio__chart-progress {
    background-color: rgba(0, 0, 0, .15);
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: width .3s ease-in;
}

.audio__title {
    font-family: serif;
    text-align: center;
}

.audio__title h1 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.audio__date {
    font-style: italic;
    text-align: center;
}

.audio__emojis {
    font-size: 3rem;
    text-align: center;
}

.audio__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.audio__togglebtn {
    align-items: center;
    background: linear-gradient(139deg, rgba(237,153,136,1) 0%, rgba(129,6,106,1) 100%);
    border-radius: 5rem;
    border: 0;
    cursor: pointer;
    display: flex;
    height: 10rem;
    justify-content: center;
    width: 10rem;
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.38);
}

.audio__downloadbtn {
    position: absolute;
    left: 50%;
    top: 50%;
    align-items: center;
    background: linear-gradient(139deg, rgba(237,153,136,1) 0%, rgba(129,6,106,1) 100%);
    border-radius: 5rem;
    border: 0;
    cursor: pointer;
    display: flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.38);
    transform: translate(2rem, 2rem);
}

.audio__togglebtn:hover,
.audio__downloadbtn:hover {
    background: linear-gradient(139deg, rgba(237,153,136,1) 0%, rgba(129,6,106,1) 88%);
}

.audio__togglebtn:active,
.audio__downloadbtn:active {
    background: linear-gradient(139deg, rgba(237,153,136,1) 0%, rgba(129,6,106,1) 75%);
}

.audio__togglebtn svg path,
.audio__downloadbtn svg path {
    fill: white;
}

.audio__togglebtn svg.pause-svg {
    display: none;
}

.audio__togglebtn.playing svg.play-svg {
    display: none;
}
.audio__togglebtn.playing svg.pause-svg {
    display: block;
}

.audio__togglebtn svg {
    width: 6rem;
    height: 6rem;
}

.audio__navigation {
    display: grid;
    gap: var(--spacing);
    grid-template-columns: 1fr 1fr;
}

.audio__backbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.btn.audio__others {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    padding: 0;
}

a.audio__others:link {
    background: rgb(177,103,244);
    background: linear-gradient(135deg, rgba(177,103,244,1) 0%, rgba(75,22,207,1) 100%);
    outline: #f1d432 dashed .2rem;
}

a.audio__others:visited {
    outline-color: rgb(177,103,244);
}

a.audio__others:focus {
    outline-color: #00d75f;
}

a.btn {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--radius);
    padding: .3rem .5rem;
    text-decoration: none;
    text-align: center;
}

.big404 {
    font-size: 6rem;
    text-align: center;
}
