{% extends "layouts/base.html" %}

{% block title %}Sonido no encontrado{% endblock %}

{% block content %}
<div class="intro-text">
  <h1 class="big404">404</h1>

  <p>
    Ese sonido que estabas buscando no existe y probablemente nunca existió. Pero
    no te preocupes, no todo está perdido.
  </p>

  <a href="/" class="audio__backbtn btn">Volver al inicio</a>
</div>
{% endblock %}
