{% extends "layouts/base.html" %}

{% block title %}Colección de sonidos{% endblock %}

{% block content_class %}intro{% endblock %}

{% block content %}
<div class="intro-text">
  <h1>Sonido</h1>

  <h2>¿Qué es esto?</h2>

  <p>
    Lo que tienes frente a ti es una colección de alrededor de 11 gigabytes de
    sonidos que he recolectado por aquí y por allá desde el 2019. No obedecen a
    más tema que el interés que me causaron en su momento. Algunos cotidianos,
    otros no tanto.
  </p>

  <p>
    Este un espacio de exploración auditiva. ¿Leíste la historia interminable?
    Si es así, quizá recuerdes un pasaje donde Bastian trataba de encontrar a
    Atreyu a través de un pasadizo de puertas. No creo que en este caso las
    puertas te lleven a eso que más buscas, pero sí a eso que no esperas.
  </p>

  <h2>¿Cómo lo exploro?</h2>

  <p>
    La forma de navegar es muy sencilla: al entrar encontrarás un sonido al
    azar: escúchalo con atención, disfrútalo e imagínate en ese lugar. Luego
    abre alguna de las "puertas" de abajo marcadas con emojis que muy
    remotamente representan su contenido y que conectarán con otros sonidos
    siempre diferentes. Aquellos que no hayas visitado estarán marcados
    visualmente.
  </p>

  <h2>¿Cómo están grabados?</h2>

  <p>
    Los sonidos no son de una calidad increíble por haber sido grabados con un
    celular (Xiaomi MI 9 lite y Google pixel 5), pero aun así están llenos de
    detalles que podrías querer apreciar con audífonos. No tienen ningún tipo de
    posproducción, porque de vez en cuando parte de la magia la tienen los
    sonidos en segundo plano que se alcanzan a escuchar.
  </p>

  <p>
    Esta colección no es estática. Sigo grabando sonidos cada día y
    ocasionalmente alimentándola, así que no olvides regresar, con suerte
    encuentras algo nuevo.
  </p>

  <p>
    Espero que lo disfrutes.
  </p>

  <a class="btn" href="/sound/{{ sound_hash }}">Entrar</a>

  <h2>¿Bajo qué licencia están estos sonidos?</h2>

  <p>
    Creative Commons Attribution Share Alike 4.0 International, cuyo texto
    completo puedes consultar <a href="/static/license.txt">aquí</a>.
    Básicamente puedes descargar los sonidos, usarlos, modificarlos y
    redistribuirlos, incluso en proyectos comerciales, bajo las siguientes
  </p>

  <p class="clause-title">CLAUSULAS</p>

  <ul>
    <li>Las redistribuciones deben conservar la misma licencia.</li>
    <li>Las modificaciones deben mencionarse.</li>
    <li>Debes incluír atribución de estos sonidos a Categulario.</li>
  </ul>

  <hr/>

  <p>
    Hecho con curiosidad por <a href="https://categulario.xyz">@Categulario</a>.
    ¿quieres saber más sobre un sonido? Comentémoslo en <a
    href="https://mstdn.mx/@categulario">el fediverso</a> o escríbeme a
    <code>categulario</code> arroba <code>mail</code> punto
    <code>mayfirst</code> punto <code>org</code>.
  </p>
</div>
{% endblock %}
