{% extends "layouts/base.html" %}

{% block title %}{{ sound.title }} | Colección de sonidos{% endblock %}

{% block content_class %}soundpage{% endblock %}

{% block content %}
  <div class="audio__title">
    <h1>{{ sound.title }}</h1>
    <p>
      grabado el {{ sound.date.day }} de {{ sound.date.month|mes }} de
      {{ sound.date.year }} en {{ sound.place }}. <b>Volumen:
      {% if sound.max_percentage < 33 %}bajo{% elif sound.max_percentage < 66 %}medio{% else %}alto{% endif %}.</b>
    </p>
  </div>
  <div class="audio__emojis">{{ sound.emojis }}</div>
  <div class="audio__controls">
    <button
      class="audio__togglebtn"
      id="togglebtn"
      onclick="toggle(this)"
      aria-label="Reproducir sonido"
    >
      {% include "svg/play.svg" %}
      {% include "svg/pause.svg" %}
    </button>

    <a
      href="/audio/{{ sound.file_name }}.flac"
      class="audio__downloadbtn"
      aria-label="Descargar sonido"
    >
      {% include "svg/download.svg" %}
    </a>
  </div>
  <div class="audio__chart">
    <div class="audio__chart-top audio__chart-part">
      {% for s in sound.bars %}
        <div class="audio__chart-bar" style="height: {{ s.1 }}%"></div>
      {% endfor %}
    </div>
    <div class="audio__chart-bottom audio__chart-part">
      {% for s in sound.bars %}
        <div class="audio__chart-bar" style="height: {{ s.0|abs }}%"></div>
      {% endfor %}
    </div>
    <div
      class="audio__chart-progress"
      id="progress"
      role="progressbar"
      aria-label="Progrso de la reproducción"
      aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
    ></div>
  </div>
  <div class="audio__navigation">
    {% for linked_sound in more_sounds %}
      <a class="audio__others btn" href="/sound/{{ linked_sound.hash }}">{{ linked_sound.emojis }}</a>
    {% endfor %}
  </div>
  <a class="audio__backbtn btn" href="/">Volver al inicio</a>
  <audio id="audio" src="/audio/{{ sound.file_name }}.m4a"></audio>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/audio.js"></script>
{% endblock %}
